$primary-color-1: #323232; //this is BandSite Black
$primary-color-2: #afafaf; //this is silver
$primary-color-3: #ffffff; //this is white
$secondary-color-1: black; //this is BandSite-DarkBlack
$secondary-color-2: #e1e1e1; //this is Mercury
$secondary-color-3: #fafafa; //this is Alabaster
