

// $font-stack: this is used to declare a font variable 
// can declare global font in body 
//@use font via url in scss file directly or declare font stack variable in partial and include 

@font-face {
font-family:"Avenir Next Regular";
src:url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("ttf");
font-weight:400;
font-style:normal;
font-display: swap;
}

@font-face {
font-family:"Avenir Next Demi";
src:url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("ttf");
font-weight:600;
font-style:normal;
font-display: swap;
}

 @font-face {
font-family:"Avenir Next Bold";
src:url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("ttf");
font-weight:700;
font-style:bold;
font-display: swap;
}
