@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", "Arial", "Open Sans";
  margin: 0rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.selected {
  border-bottom: 0.15rem;
  border-bottom-color: #ffffff;
  border-bottom-style: solid;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 1rem;
}

.unselected {
  text-decoration: none;
  color: #afafaf;
  font-weight: 400;
  padding-bottom: 1rem;
}

.unselected:hover {
  border-bottom: 0.15rem;
  border-bottom-color: #ffffff;
  border-bottom-style: solid;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 1rem;
}

.hero {
  background-image: URL("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 25rem;
  padding: 0rem;
  margin: 0rem;
  display: flex;
  box-shadow: inset 0 0 0 2000px rgba(50, 50, 50, 0.31);
}
@media screen and (min-width: 48rem) {
  .hero {
    min-height: 32rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    min-height: 45rem;
  }
}
.hero__header {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem;
  align-self: center;
}
@media screen and (min-width: 48rem) {
  .hero__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__header {
    margin-left: 3rem;
  }
}

.bio {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 48rem) {
  .bio {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.bio__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem;
}
@media screen and (min-width: 48rem) {
  .bio__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0rem;
    padding-left: 3rem;
  }
}
.bio__image {
  width: 100%;
}
.bio__quote, .bio__quote-author {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 1rem 0rem;
  margin: 0rem;
}
@media screen and (min-width: 48rem) {
  .bio__quote, .bio__quote-author {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2.25rem 0rem;
    margin: 0rem;
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .bio__quote, .bio__quote-author {
    width: 80%;
  }
}
.bio__quote-author {
  padding: 0rem;
  margin: 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .bio__quote-author {
    font-size: 0.75rem;
    line-height: 2rem;
    margin: 0rem;
  }
}

.description__header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .description__header {
    font-size: 1.5rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0rem;
  }
}
.description__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 48rem) {
  .description__container {
    flex-direction: row;
  }
}
.description__body {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0rem 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .description__body {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 50%;
    margin: 0rem;
    padding-bottom: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .description__body {
    width: 50%;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
}
.gallery__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 0rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 0rem;
    padding-bottom: 2.25rem;
    padding-left: 3rem;
    margin: 0rem;
  }
}
.gallery__images {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 1rem;
  gap: 1rem;
}
.gallery__images--sizing {
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .gallery__images {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem;
    gap: 1.5rem;
  }
  .gallery__images--sizing {
    width: 25%;
  }
}

.commentbox__rowcontainer {
  display: flex;
  flex-direction: row;
  position: relative;
}
@media screen and (min-width: 48rem) {
  .commentbox__inputcontainer {
    margin-right: 12%;
  }
}
@media screen and (min-width: 80rem) {
  .commentbox__inputcontainer {
    margin-right: 10%;
  }
}
.commentbox__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .commentbox__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-left: 2.25rem;
    margin: 0rem;
  }
}
@media screen and (min-width: 80rem) {
  .commentbox__header {
    padding-left: 3rem;
    padding-bottom: 2.25rem;
  }
}
.commentbox__namelabel {
  color: #afafaf;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0rem 0.25rem;
  padding: 0rem;
}
@media screen and (min-width: 48rem) {
  .commentbox__namelabel {
    display: flex;
    align-items: center;
  }
}
.commentbox__nameinput, .commentbox__commentinput {
  font-family: Avenir Next;
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  border-color: #e1e1e1;
  border-width: 0.063rem;
  border-radius: 0.25rem;
  border-style: solid;
  background-color: #fafafa;
  margin-bottom: 1rem;
  margin-left: 2rem;
  padding: 0.75rem;
  height: 2.25rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .commentbox__nameinput, .commentbox__commentinput {
    height: 3rem;
    padding: 1rem;
    margin-left: 3.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .commentbox__nameinput, .commentbox__commentinput {
    margin-left: 4rem;
  }
}
.commentbox__commentlabel {
  color: #afafaf;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin: 0.25rem 2rem;
}
@media screen and (min-width: 48rem) {
  .commentbox__commentlabel {
    margin-left: 3.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .commentbox__commentlabel {
    margin-left: 4rem;
  }
}
.commentbox__commentinput {
  padding: 0.75rem;
  text-align: start;
  margin-bottom: 0rem;
}

.avatar {
  border-radius: 50%;
  width: 1.8rem;
  background-color: #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .avatar {
    width: 3rem;
    margin-right: 0.1rem;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .avatar {
    width: 4rem;
    margin-right: 0rem;
  }
}

.form {
  margin: 0rem 3rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .form {
    margin-bottom: 0rem;
    margin-top: 2.25rem;
    margin-left: 23%;
    margin-right: 20%;
  }
}
@media screen and (min-width: 80rem) {
  .form {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.button {
  font-family: Avenir Next;
  color: #ffffff;
  font-weight: 700;
  background-color: #323232;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border-style: none;
  margin: 1rem 2rem;
}
@media screen and (min-width: 48rem) {
  .button {
    width: 9.2rem;
    margin: 2rem 0rem;
    padding: 0.7rem 2rem;
    display: flex;
    align-self: flex-end;
  }
}

.usercommentContainer {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}
@media screen and (min-width: 48rem) {
  .usercommentContainer {
    margin-top: 0rem;
    margin-left: 22%;
    margin-right: 19%;
    margin-bottom: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .usercommentContainer {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.commentcard {
  padding-bottom: 1rem;
  border-bottom: 0.063rem;
  border-bottom-style: solid;
  border-top: 0.063rem;
  border-top-style: solid;
  border-color: #e1e1e1;
  display: flex;
  flex-direction: column;
}
.commentcard__rowcontainer {
  display: flex;
  flex-direction: row;
}
.commentcard__name, .commentcard__comment, .commentcard__date {
  color: #323232;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-right: 1.5rem;
}
.commentcard__date {
  color: #afafaf;
  font-weight: 400;
  margin-right: 0rem;
  position: absolute;
  right: 19%;
}
@media screen and (min-width: 48rem) {
  .commentcard__date {
    position: absolute;
    right: 19%;
  }
}
@media screen and (min-width: 80rem) {
  .commentcard__date {
    position: absolute;
    right: 25%;
  }
}
.commentcard__avatar {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #e1e1e1;
  padding: 1rem;
  margin-top: 0.6rem;
  margin-right: 0.6rem;
  height: 1.8rem;
}
@media screen and (min-width: 48rem) {
  .commentcard__avatar {
    max-width: 3rem;
  }
}
.commentcard__comment {
  font-weight: 400;
  margin-left: 2.4rem;
}/*# sourceMappingURL=bio.css.map */