
@use "./partials/mixins" as *;

@use "./partials/typography" as *;

@use "./partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", "Arial", "Open Sans";
  margin: 0rem;
}

//gutters mean gaps
//margin is margin left and right (not up and down)
//padding is for between components and above/below headers


a, a:hover, a:focus, a:active {
  text-decoration: none;
  
}

.selected {
  border-bottom: 0.15rem;
  border-bottom-color: $primary-color-3;
  border-bottom-style: solid;
  color: $primary-color-3;
  font-weight: 700;
  padding-bottom: 1rem;
  
}

.unselected {
  text-decoration: none;
  color: $primary-color-2;
  font-weight: 400;
  padding-bottom: 1rem;
}

.unselected:hover{
  border-bottom: 0.15rem;
  border-bottom-color: $primary-color-3;
  border-bottom-style: solid;
  color: $primary-color-3;
  font-weight: 400;
  padding-bottom: 1rem;
}

.nav {
  background-color: $primary-color-1;
  color: $primary-color-3;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0rem;

  @include tablet {
    flex-direction: row;
  }
}

.nav__tabs {
  display: flex;
  flex-direction: row;
  gap: 5rem;

  @include tablet {
    margin-left: 3rem;
  }
}

.logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 1rem 0rem;

  @include tablet {
    margin: 1rem 2.25rem;
  }

  @include desktop {
    margin-left: 3rem;
    margin-right: 2.25rem;
  }
}

.hero {
  background-image: URL("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 25rem;
  padding: 0rem;
  margin: 0rem;
  display: flex;
  box-shadow: inset 0 0 0 2000px rgba(50,50,50,0.31); 
  

  @include tablet {
    min-height: 32rem;
  }

  @include desktop {
    min-height: 45rem;
  }
}

.hero__header {
  color: $primary-color-3;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem;
  align-self: center;

  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0rem 2.25rem;
  }

  @include desktop {
    margin-left: 3rem;
  }
}

.bio {
  padding-left: 1rem;
  padding-right: 1rem;

  @include tablet {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.bio__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0rem;
    padding-left: 3rem;
  }

  @include desktop {
  }
}

.bio__image {
  width: 100%;
}

.bio__quote {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 1rem 0rem;
  margin: 0rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2.25rem 0rem;
    margin: 0rem;
    width: 100%;
  }

  @include desktop {
    width: 80%;
  }
}
.bio__quote-author {
  @extend .bio__quote;
  padding: 0rem;
  margin: 0rem 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 2rem;
    margin: 0rem;
  }
}

.description__header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0rem;
  }
}

.description__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: row;
  }
}

.description__body {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0rem 1rem;
  padding-bottom: 1rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 50%;
    margin: 0rem;
    padding-bottom: 2.25rem;
    padding-right: 2.25rem;
  }

  @include desktop {
    width: 50%;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery__header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 0rem;
  padding-bottom: 1rem;
  margin: 0rem 1rem;

  @include tablet {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 0rem;
    padding-bottom: 2.25rem;
    padding-left: 3rem;
    margin: 0rem;
  }
}

.gallery__images {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 1rem;
  gap: 1rem;

  &--sizing {
    width: 100%;
  }

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem 2.25rem;
    gap: 1.5rem;

    &--sizing {
      width: 25%;
    }
  }
}

.commentbox {
  

  @include desktop{
    margin:auto;
  }

  &__rowcontainer{
    display:flex;
    flex-direction: row;
  }

  &__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0rem 1rem;
  
    @include tablet {
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: 700;
      padding-top: 3rem;
      padding-bottom: 2.25rem;
      padding-left: 3rem;
      margin: 0rem;
    }
  }
  

  &__namelabel {
    color: $primary-color-2;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    margin: 0rem;
    padding:0rem;
  }

  &__nameinput {
    font-family:Avenir Next;
    color: $primary-color-1;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    border-color: $secondary-color-2;
    border-width: 0.063rem;
    border-radius: 0.25rem;
    border-style: solid;
    background-color: $secondary-color-3;
    margin-bottom: 1rem;
    padding: 0.75rem;
    height: 2.25rem;
    width: 100%;

    @include tablet {
      height: 3rem;
      padding: 1rem;
    }
  }

  &__commentlabel {
    color: $primary-color-2;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    margin: 0.25rem;
  }

  &__commentinput {
    @extend .commentbox__nameinput;
    padding:0.75rem;
    text-align:start;
  }


}


.avatar{
  border-radius:50%;
  width:1.8rem;
  background-color: $secondary-color-2;
  

  @include tablet{
    max-width:3rem;
    margin:2.25rem;
  }

  @include desktop{
    // margin:auto;
  }
}
.form {
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;

  @include desktop{
    
  }
}

.button {
  font-family:Avenir Next;
  color: $primary-color-3;
  font-weight: 700;
  background-color: $primary-color-1;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border-style: none;
  margin: 1rem 0rem;

  @include tablet {
    margin: 2.25rem 0rem;
    padding:0.70rem 2rem;
  }

  @include desktop {
    width: 9.375rem;
    margin: 2rem 0rem;
    display:flex;
    align-self:flex-end;
  
  }
}

.usercommentContainer{
  display:flex;
  flex-direction: column;
  margin: 0rem 1rem;
}
.commentcard{
  padding-bottom:1rem;
  border-bottom:0.063rem;
  border-bottom-style:solid;
  border-top:0.063rem;
  border-top-style:solid;
  border-color: $secondary-color-2;
  display:flex;
  flex-direction:column;


  &__rowcontainer{
    display:flex;
    flex-direction:row;
  }        
  
  
  &__name{
    color: $primary-color-1;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    margin-right:1.5rem;
  }

  &__date{
    @extend .commentcard__name;
    color: $primary-color-2;
    font-weight:400;
    margin-right:0rem;
  }

  &__avatar{
   
    border-radius:50%;
    width:1.8rem;
    height:1.8rem;
    background-color: $secondary-color-2;
    padding:1rem;
    margin-top:0.6rem;
    margin-right:0.6rem;
    height:1.8rem;

    @include tablet{
    max-width:3rem;
    }

  }

  &__comment{
    @extend .commentcard__name;
    font-weight:400;
    margin-left:2.4rem;

  }
}



.footer {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-1;
  color: $primary-color-3;
  padding-left: 1rem;
  margin-top: 1rem;

  &__social{
    pointer-events:none;
  }

  &__header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0rem;
  }

  &__contact-copy--bold {
    font-weight: 700;
    font-size: 0.813rem;
    line-height: 1.125rem;
  }

  &__contact-copy--reg {
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
  &__icons {
    display: flex;
    gap: 1rem;

    @include tablet{
    padding-top:2.5rem;

    }
  }

  &__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
  }

  @include tablet {
    position: relative;

    &__container--1 {
      display: flex;
      flex-direction: row;
      margin: 0rem 2.25rem;
    }

    &__container--2 {
      display: flex;
      flex-direction: row;
      gap: 5rem;
      margin: 0rem 2.25rem;
    }

    &__container--rep {
      display: flex;
      flex-direction: column;
    }

    &__header {
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 2.75rem;
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
      padding-right: 2.25rem;
    }

    &__contact-copy--bold {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    &__contact-copy--reg {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    &__icons {
      display: flex;
      gap: 1.5rem;
    }

    &__logo {
      max-height: 1.25rem;
      max-width: 7.5rem;
      margin: 1rem 0rem;
      position: absolute;
      top: 2.25rem;
      right: 2.25rem;
    }

    &__copyright {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin: 0rem 2.25rem;
      padding-bottom: 2.25rem;
      padding-top: 2.25rem;
    }
  }

  @include desktop {
    &__header {
      padding-top: 2.25rem;
    }
  }
}
