@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", "Arial", "Open Sans";
  margin: 0rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.nav {
  background-color: #323232;
  color: #ffffff;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0rem;
}
@media screen and (min-width: 48rem) {
  .nav {
    flex-direction: row;
  }
}

.nav__tabs {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
@media screen and (min-width: 48rem) {
  .nav__tabs {
    margin-left: 3rem;
  }
}

.logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 1rem 0rem;
}
@media screen and (min-width: 48rem) {
  .logo {
    margin: 1rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .logo {
    margin-left: 3rem;
    margin-right: 2.25rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
  padding-left: 1rem;
  margin-top: 1rem;
}
.footer__social {
  pointer-events: none;
  margin-bottom: 1rem;
}
.footer__header {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0rem;
}
.footer__contact-copy--bold {
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 1.125rem;
  margin: 0rem;
}
.footer__contact-copy--reg {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
}
.footer__icons {
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__icons {
    padding-top: 2.5rem;
  }
}
.footer__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-top: 2rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    position: relative;
  }
  .footer__container--1 {
    display: flex;
    flex-direction: row;
    margin: 0rem 2.25rem;
  }
  .footer__container--2 {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 0rem 2.25rem;
  }
  .footer__container--rep {
    display: flex;
    flex-direction: column;
  }
  .footer__header {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-right: 2.25rem;
  }
  .footer__contact-copy--bold {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer__contact-copy--reg {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer__icons {
    display: flex;
    gap: 1.5rem;
  }
  .footer__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin: 1rem 0rem;
    position: absolute;
    top: 2.25rem;
    right: 2.25rem;
  }
  .footer__copyright {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0rem 2.25rem;
    padding-bottom: 2.25rem;
    padding-top: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__header {
    padding-top: 2.25rem;
  }
}/*# sourceMappingURL=global.css.map */