@use "./partials/mixins" as *;

@use "./partials/typography" as *;

@use "./partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next";
  margin: 0rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.selected {
  border-bottom: 0.15rem;
  border-bottom-color: $primary-color-3;
  border-bottom-style: solid;
  color: $primary-color-3;
  font-weight: 700;
  padding-bottom: 1rem;
}

.unselected {
  text-decoration: none;
  color: $primary-color-2;
  font-weight: 400;
  padding-bottom: 1rem;
}

.unselected:hover {
  border-bottom: 0.15rem;
  border-bottom-color: $primary-color-3;
  border-bottom-style: solid;
  color: $primary-color-3;
  font-weight: 400;
  padding-bottom: 1rem;
}

.nav {
  background-color: $primary-color-1;
  color: $primary-color-3;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0rem;

  @include tablet {
    flex-direction: row;
  }
}

.nav__tabs {
  display: flex;
  flex-direction: row;
  gap: 5rem;

  @include tablet {
    margin-left: 3rem;
  }
}

.logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 1rem 0rem;

  @include tablet {
    margin: 1rem 2.25rem;
  }

  @include desktop {
    margin-left: 3rem;
    margin-right: 2.25rem;
  }
}

.hero {
  background-image: URL("../assets/images/Photo-gallery-3.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(50, 50, 50, 0.31);
  width: 100%;
  min-height: 25rem;
  padding: 0rem;
  margin: 0rem;

  @include tablet {
    min-height: 32rem;
  }

  @include desktop {
    min-height: 45rem;
    display: flex;
    flex-direction: row;
    position: relative;
  }


  &__headers-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

  &__header {
  color: $primary-color-3;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  margin: 0rem 1rem;
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    padding-top: 3rem;
    margin: 0rem 2.25rem;
  }

  @include desktop {
    margin-left: 3rem;
    width: 55%;
  }
}

  &__subheader {
  color: $primary-color-3;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 1.5rem;
  margin: 0rem 1rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding-left: 2.25rem;
    padding-top: 3rem;
    margin: 0rem;
  }
}
}

.iframe {
  padding: 1rem;

  @include tablet {
    width: 26%;
    position: absolute;
    top: 12rem;
    right: 0rem;
  }

  @include desktop {
    width: 35%;
    position: absolute;
    top: 15rem;
    right: 2rem;
  }
}

.shows {
  &__container {
    margin: 0rem 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    @include tablet {
      font-size: 2.25rem;
      line-height: 2.75rem;
      font-weight: 700;
      margin-top: 3rem;
      margin-bottom: 3rem;
      margin-left: 2.25rem;
      margin-right: 2.25rem;
    }
  }

  &__el {
    padding: 1rem;
    border-bottom: 0.15rem;
    border-bottom-style: solid;
    border-color: $secondary-color-2;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      padding: 1.5rem 1.125rem;
    }
  }

  &__el:hover {
    background-color: $secondary-color-3;
  }

  &__el:active {
    background-color: $secondary-color-2;
  }

  &__card {
    flex-direction: column;

    @include tablet {
      margin: 2.25rem;
    }

    @include desktop {
      margin: auto;
    }
  }

  &__subheader {
    color: $primary-color-2;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }

  &__date {
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 600;
    margin: 0rem;

    @include tablet {
      margin: 2.25rem;
    }

    @include desktop {
      margin: auto;
    }
  }

  &__venue {
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin: 0rem;

    @include tablet {
      margin: 0rem 3rem;
    }

    @include desktop {
      margin: 0rem auto;
    }
  }

  &__location {
    @extend .shows__venue;
  }
}

.button {
  font-family: Avenir Next;
  color: $primary-color-3;
  font-weight: 700;
  background-color: $primary-color-1;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border-style: none;
  margin: 1rem 0rem;

  @include tablet {
    margin: 2.25rem 0rem;
  }

  @include desktop {
    width: 9.375rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto 0rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-1;
  color: $primary-color-3;
  padding-left: 1rem;
  margin-top: 1rem;

  &__social {
    pointer-events: none;
  }

  &__header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0rem;
  }

  &__contact-copy--bold {
    font-weight: 700;
    font-size: 0.813rem;
    line-height: 1.125rem;
  }

  &__contact-copy--reg {
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1.125rem;
  }
  &__icons {
    display: flex;
    gap: 1rem;
    margin-bottom:1rem;
  }

  &__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
  }

  @include tablet {
    position: relative;

    &__container--1 {
      display: flex;
      flex-direction: row;
      margin: 0rem 2.25rem;
    }
        //I can't modify the names of these containers without messing up my styling, I've tried! 


    &__container--2 {
      display: flex;
      flex-direction: row;
      gap: 5rem;
      margin: 0rem 2.25rem;
    }
        //I can't modify the names of these containers without messing up my styling, I've tried! 


    &__container--rep {
      display: flex;
      flex-direction: column;
    }
        //I can't modify the names of these containers without messing up my styling, I've tried! 


    &__header {
      font-weight: 700;
      font-size: 2.25rem;
      line-height: 2.75rem;
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
      padding-right: 2.25rem;
    }

    &__contact-copy--bold {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin:0rem;
    }

    &__contact-copy--reg {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    &__icons {
      display: flex;
      gap: 1.5rem;
      padding-top: 2.25rem;
    }

    &__logo {
      max-height: 1.25rem;
      max-width: 7.5rem;
      margin: 1rem 0rem;
      position: absolute;
      top: 2.25rem;
      right: 2.25rem;
    }

    &__copyright {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin: 0rem 2.25rem;
      padding-bottom: 2.25rem;
      padding-top: 2.25rem;
    }
  }

  @include desktop {
    &__header {
      padding-top: 2.25rem;
    }
  }
}
